/* button style */
input[type=submit],button{
    border: 0px;
    padding: 10px 15px;
    background-color: $orang;
    color : $white;
    //border-radius : 5px;
    &:hover,&:focus{
    	background-color: $red;
    }
    &#searchsubmit{
    	padding : 8px 15px;
    }
}
.sidebar-widget{
    input[type=submit],button{
        
        &#searchsubmit{
            padding : 3px 15px;
        }
    }
}
