
.comment-area{
	
	.comment-author{
		    float: right;
		    width: 100px;
		    padding: 10px;
		    text-align: center;
		img.avatar{
			@include border-radius(50%);
		}
		.bypostauthor .fn{
			color : $orang;
			padding : 5px;
		}

	}
	
	.comment-metadata{
		font-size : smaller;
		float : right;

		.edit-link{
			padding : 5px;
			color : $orang;
			&:before{
				@extend .fa;
				content : "\f040";
				padding : 5px;
				vertical-align: middle;
			}
		}
	}
	.reply{
		float : right;
		&:before{
			@extend .fa;
			content : "\f112";
			padding : 5px;
			vertical-align: middle;
			color : $orang;
		}
		//margin-bottom :15px;
	}
	.comment{
		display : block;
		overflow : hidden;
		.comment-body{
			padding : 15px 20px;
			overflow : hidden;
		}
	}
	.comment-content{
		padding : 20px;
	}
	.depth-1{
		@include at-breakpoint($medium) {
		   margin-left : 0;
		}
	}
	.depth-2{
		@include at-breakpoint($medium) {
		   margin-left : 20px;
		}
	}
	.depth-3{
		@include at-breakpoint($medium) {
		   margin-left : 40px;
		}
	}
	.depth-4{
		@include at-breakpoint($medium) {
		   margin-left : 60px;
		}
	}
	.even>article{ 
		background-color: $grey1;
	}
}
#commentform{
	label{
		float: left;
    	padding: 0 10px;
    	display: inline-block;
    	width: 40%;
	}
	code.allowed-tag{
		width: 100%;
	    display: block;
	    border: 1px solid darken($lightblue,10%);
	    background-color: $lightblue;
	    padding: 10px;
	}
	input#submit{
		background-color: $blue;
		padding : 10px 15px;
		max-height : 60px;
		&:hover,&:focus{
			background-color: darken($blue,5%);
		}
	}
	p{
		padding : 8px 8px 6px;
	}


}