.footer-widget-area{
	padding : {
		top : 20px;
		bottom : 20px;
	}
	
	background-color: $grey2;
	aside.footer-first.widget{
		text-align: center;
		@include span-columns(12,12);
		@include at-breakpoint($medium){
			@include span-columns(3,12);
		}
		&:nth-of-type(4n){
			@include at-breakpoint($medium){
				@include omega;
			}
		}
	}

}
div.related-companies{
	text-align : center;
	background-color: $grey2;
	padding : {
		top : 30px;
		bottom : 30px;
	}
	div.co-container{
		text-align : center;
		display: none;
		@include at-breakpoint($larg){
			display : inline-block;
			width : 12.5%;
		}
		
	}
}
.site-footer{
	display:block;
	background-color: $grey2;
	.social-links{
		text-align: center;
		a.facebook-link,
		a.twitter-link,
		a.gplus-link,
		a.linkedin-link{
			display:inline-block;
			@include single-transition(all, 0.3s, ease-in-out);
			width : 30px;
			height : 30px;
			background-position : 0 0;
			&:hover{
				background-position : 0 -66px;
			}

		}
		a.facebook-link{
			background-image : image-url("facebook.png");

		}
		a.twitter-link{
			background-image : image-url("twitter.png");
			background-position : 0 -3px;
			&:hover{
				background-position : 0 -67px;

			}
		}
		a.gplus-link{
			background-image : image-url("gplus.png");
			background-position : 0 1px;

		}
		a.linkedin-link{
			background-image : image-url("linkedin.png");
			&:hover{
				background-position : 0 -68px;

			}
		}
		

	}
}
