.site-header{
	.hero{
		background-color: darken($green,5%);
		border-bottom : 5px solid $orang;
		@include at-breakpoint($medium) {
			background: none;
			border-bottom : 0px;
		}
	}
}
.header-right-area,
.header-left-area,
.logo-wrapper{
	padding-top : 0px;
	a.logo-link{
		max-height : 40px;
		display: inline-block;
		overflow: hidden;
	}
	@include span-columns(12,12);
	img.mobile-logo{
		display : inline-block;
		max-width : 130px;
		padding-top : 10px
	}
	img.desktop-logo{
		display : none;
	}
	@include at-breakpoint($medium) {
		@include span-columns(4,12);
		padding-top : 10px;
		a.logo-link{
			max-height : 70px;
		}
		img.mobile-logo{
		display : none;
		}
		img.desktop-logo{
			display : inline-block;
		}

	}
}
.header-right-area{
	text-align : right;
	display : none;
	@include at-breakpoint($medium) {
		display : block;
	  
	}
	.user-links{
		a{
			@include single-transition(all, 0.3s, ease-in-out);
		}
		margin-top: 10px;
		a.user-account-link{
			background-color: $grey3;
			color : $white;
			padding : 2px 5px;
			margin-left : 3px;
			line-height	: 120%;
			display : inline-block;
			&:hover{
				background-color: darken($grey2,25%);
				color : $white;
			}
		}
	}
	ul.top-nav{
		margin-top: 22px;
		list-style:none;

		li{
			display : inline-block;
			a{
				@include single-transition(all, 0.3s, ease-in-out);
				border-left : 1px solid darken($grey2,25%);
				padding : 0 5px;
				display : inline-block ;
				line-height: 120%;
				
				&:hover{
					color : $orangHover;
				}
			}
			&:last-child a{
					border-left : 0px;
				}
		}
	}
}
.logo-wrapper{
	
	text-align : left;
	.menu-toggler{
		display: inline-block;
		float : right;
		margin-top : 13px;
		i:before{
			cursor: pointer;
			font-size : 120%;
			padding : 10px;
			border : 1px solid $grey2;
			color : $grey3;
			background-color:  $white;
		}

	}
	@include at-breakpoint($medium) {
		text-align: center;
		.menu-toggler{
			display: none;
		}
	}
}

.header-left-area{
	text-align : left;
	display : none;
	@include at-breakpoint($medium) {
		@include omega;
		display : block;
	  
	}
	.contact-info-links{
		padding-top : 10px;
		color : $orang;
		span{
			font-weight: bold;
		}
		a.contact-button{
			@include single-transition(all, 0.3s, ease-in-out);
			background-color: $orang;
			color : $white;
			display: inline-block;
			line-height: 120%;
			padding : 2px 5px;
			margin-right : 10px;
			&:hover{
				background-color: $orangHover;
				color : $white;
			}
		}
	}
	div.livezilla-links{
		margin-top : 20px;
		.livee{
			float : left;
			text-align : left;
		}
	}
}
// ---------- NAVIGATION---------------------------------
@include keyframes(move-up) {
  0%   { opacity : 0;display:none; }
  100% { opacity : 1;display :inline-block; }
}
@include keyframes(move-down) {
  0%   { opacity : 1;display : inline-block; }
  100% { opacity : 0;display : none  }
}


/*------------- main menu--------------------*/
nav.main-menu{
	display : none;
	background-color: darken($green,5%);
	@include at-breakpoint($medium) {
		display: block;
		background-color: $grey2;
	}
	margin-top : 10px;
	width : 100%;
	padding : 0px;
	text-align: center;
	border-bottom : 4px solid $green2;
	&.scroll-to-fixed-fixed{
		margin-top : 0px;
		// border : 0px;
	}
	ul.main-nav{
		margin : 0px;
		padding : 10px 5px;
		
		li,ul{
			display : inline-block;
			margin : 0;
			padding : 0px;
			text-align: center;
			width : 100%;
			a{
				@include single-transition(all, 0.3s, ease-in-out);
				color : $black1;
				display: inline-block;
				width : 100%;
				border-bottom : 1px solid $white;
				&:hover{
					color : $white;
					background-color: $orang;
				}
			}
		}

		@include at-breakpoint($medium){
			margin : 0px;
			padding : 0px;
			
			li{
				display : inline-block;
				width : inherit;
				padding : 0px;
				margin : 0px;
				position : relative;
				a{
					@include single-transition(all, 0.3s, ease-in-out);
					font-size: 18px;
					font-weight: normal;
					display: block;
					padding : 15px 22px;
					background-color: $grey2;
					color : $black1;
					border-bottom : 0px;
					&:hover{
						background-color: $grey1;
						color : $black1;
					}
				}
				&.featured-menu a{
					background-color: $green;
					color : $white;
					&:hover{
						background-color: $greenHover;
					}
				}
				ul.sub-menu{
					@include display-none;
					border : 1px solid $grey2;
					padding : 0;

					border-top : 0px;
					z-index : 99999;
					position : absolute;
					top : 100%;
					right : 0;
					width : 240px;
					li{
						width : 100%;
						text-align : right;
					}
					a{
						
						width : 100%;
						@include single-transition(all, 0s, ease-in);
						background-color : $grey1;
						border-bottom : 1px solid $grey2;
						color : $grey3;
						padding : 5px 20px 5px 10px;
						&:hover{
							color : black;

						}
					}

				}

				&:hover>ul.sub-menu{
					opacity: 1;
					visibility: visible;
			  		transition-delay:0s;
			  		

					
				}
			}
		}
	}
}