/* main style */

.layout{
	@include container;
	position : relative;
}

//-------------site-content-------------------
.primary{
 	@include span-columns(12,12);
 	@include at-breakpoint($medium){
 		@include span-columns(8 omega,12);
 		margin-right : auto;
 	}
 	
 	padding:{
		top :20px;
		bottom : 20px;
	}
	p{
	    word-break: initial;
	 }
	
	article.hentry{
		.article-body{
			h1,h2,h3,h4,h5,h6{
				margin-top: 15px;
		    	margin-bottom: 15px;
			}
			ul{
				list-style : disc;
				margin-left : auto !important;
				margin-right : 20px;
				padding-left : 0px;
			}
			ul{
				margin-left : auto;
				margin-right : 20px;
			}
			.featured-image{
				display : inline-block;
				float : right;
				margin :{
					left :  25px;
					bottom : 10px;
					top : 1.5em;
				}
			}
		}
		.article-title{
			span.en-name{
				font-size : 72%;
				display: inline-block;
				padding : 0px 10px;
				margin : 5px 10px;
				border-right : 1px solid $grey2;
				color : $grey2-5;
			}
			a.title-button{
				float : left;
			}
		}
	}
	
}

.secondary{
	@include span-columns(12,12);
	@include at-breakpoint($medium){
		@include span-columns(4,12);
		margin-right : auto;
		
	}
	display : block;
	
	padding:{
		top :20px;
		bottom : 20px;
	}
}
/*---------------Headers------------------------*/
// .custom-header{
// 	h1,h2,h3,h4,h5,h6{
// 		margin-top: 15px;
// 	    margin-bottom: 15px;
// 	}
// }
/*---------------Froms--------------------------*/
.form-container{
	display : block;
	overflow : hidden ;
	width : 100%;
}
form{
	input,select,input[type=submit], button{
		    display: inline-block;
		    float: right;
		    padding: 4px 10px;
		    margin: 3px;
		    max-height: 32px;
		    font-size: 90%;
		    max-width : 100%;
	}
	&.domain-search{
		direction : ltr;
		input,select,input[type=submit], button{
			float : left;
		}
		.input-large{
			width : 200px;
		}
	}
	&.domain-search-rtl{
		text-align 	: right;
		input,select,input[type=submit], button{
			float : right;
		}
	}
	.contact-map{
		height : 500px;
		.wpb_map_wraper {
		    height: 500px;
		}
	}
}
/*---------------------fields-----------------*/
a.ult-content-box-anchor{
	display : block;
	&:hover{
		opacity :0.85;
	}
}
.icon-wrapper{
	background: image-url("back-line.png") repeat-x 0 center;
	img{
		border : {
			right : 1px solid $grey2;
			left : 1px solid $grey2;
		}
	}
}