.subpage-tabs{

 	font-family : $web_yekan;
 	background : none;
 	direction : rtl;
 	border : 0px;
 	.subpage-content{
 		padding : 25px 2px;
 	}
 	.ui-widget-content {
    	border: 0px;
    }
 	.ui-tabs-nav{
 		background : none;
 		@include border-radius(0px);
 		border : 0px;
 		border-bottom : 1px solid $grey2 !important;
 		span.subpage-icon-wrapper{
 			display: block;
 			text-align: center;
 			img{
 				max-width: 100px;
 			}

 		}
 		span.subpage-name{
 			display: block;
 			text-align: center;
 			color : $black1;

 		}
 	}
 	.ui-state-default,
 	.ui-corner-top,
 	.ui-tabs-active,
 	.ui-state-active{
 		float : right !important;
 		background : none;
 		@include border-radius(0px);
 		border : 0px;
 		 outline: none;
 		&:hover,&:focus{
 			outline: none !important;
 		}
 	}
 	.ui-tabs-active,
 	.ui-state-active{
 		border : 1px solid $grey2;
 		border-bottom : 2px solid $white !important;
 	}
 	.subpage-link{
 		outline : none !important;
 		display: block;
 	}
}

	.vc_tta-tabs-container{
		
		ul.vc_tta-tabs-list{
			// margin-right: 0px !important;
			// width : 100%;
			
			// padding-top: 8px;
			// padding-bottom : 8px;
			li.vc_tta-tab{
				float: right;
				
				
				// border-bottom : 1px solid $grey2;
				padding : 5px 5px;
				&>a{
				 	padding :5px 10px;
				 	background : none;
				 	border : 0px solid;
				 	color : $black1;
    				display: inline-block;
    				&:hover{
    					background: none !important;
    				}

				 	
				 }
				&.vc_active{
					border : 1px solid $grey2;
					border-bottom: 2px solid $white;
					a{
						background: none !important;
						border : 0px;
						border-bottom : 1px solid $red !important; 
					}
				}
			}
		}
	}
	.vc_tta-panels-container{
		border-top : 1px solid $grey2;
		
		.vc_tta-panels{
			background: none !important;
			border-color : white;
			border : 0px;

		}
	}
	.vc_tta-panel-body{
		border : 0px !important;
		background: none !important;
	}
	.vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels, .vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels::before, .vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels::after {
    	border: 0px !important;
    	background: none !important;
	}
	.vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels {
    	border: 0px !important;
    	background: none !important;
	}
	.vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels .vc_tta-panel-body {
    	border : 0px !important;
    	background : none !important;
	}
	.ui-widget-content{
		border : 0px !important;
    	background : none !important;
	}
	.vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels, .vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels::before, .vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels::after{
		border : 0px !important;
    	background : none !important;
    	border-color : $white !important;
	}
	@media (min-width: 768px){
		.vc_tta-panels,.vc_tta-panels::before,.vc_tta-panels::after {
		    border : 0px !important;
	    	background : none !important;
	    	border-color : $white !important;
		}
		.vc_tta-panels{
			 border : 0px !important;
	    	background : none !important;
	    	border-color : $white !important;
		}
	}
	.vc_tta-panels{
			 border : 0px !important;
	    	background : none !important;
	    	border-color : $white !important;
		}

		.featured-third{
			li.vc_tta-tab:nth-of-type(3){
				background-color: $red !important;
				border-bottom : 0px !important;
				margin-bottom : -3px;
				&.vc_active{
					margin-bottom : 0px;
				}
				a{
					color : $white !important;
				}

			}
		}

.subber-tab{
	.vc_tta-tabs-container{
		width: 18%;
		float: right;
		margin-right: 0px !important;
		font-size: 90%;
		
		ul.vc_tta-tabs-list{
			margin-right: 0px !important;
			width : 100%;
			
			padding-top: 8px;
			padding-bottom : 8px;
			li.vc_tta-tab{
				
				margin : 0px;
				text-align: right;
				width: 100%;
				border-left : 1px solid $grey2;
				border-bottom : 0px;
				
				&.vc_active{
					border : 1px solid $grey2;
					border-left: 2px solid $white;
					
				}

			}
		}
	}
	.vc_tta-panels-container{
		width: 82%;
		float: right;
		border : 0px;
		.vc_tta-panels{
			background: none !important;
			border-color : white;
			border : 0px;

		}
	}
}